*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.fonts-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav .logo{
    width: 139px;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.btn:hover{
    background-color: black;
}
.section-heading h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    padding-top: 72px;
    padding-bottom: 16px;
}
.section-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 44px;
}
.note-card{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 44px;
}
.note-card .card-info h3{
    font-weight: 600;
    font-size: 24px;
    color: #001931;
    padding-bottom: 16px;
}
.note-card .card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-bottom: 44px;
}
.card-info .icon{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 59px;

}
.card-info .icon img{
    width: 32px;
    height: 32px;
}

/* main style  */
nav{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    text-align: center;
    align-items: center;
    

}
.nav-button{
    display: flex;
    justify-content: flex-end;
}
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.248)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
#banner .banner-content{
    max-width: 1360px;
    padding: 115px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#banner .banner-button-top{
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    padding: 8px 20px;
    width: 240px;
}
.banner-heading h1{
    font-size: 72px;
    font-weight: bold;
    list-style: 84px;
    margin-bottom: 16px;
}
.banner-heading .banner-heading-top{
    color: #FFFFFF;
}
.banner-heading .banner-heading-bottom{
    color: #30B868;
}
.banner-heading p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    margin: 0 auto 40px auto;
    width: 680px;
}
#banner .banner-button-down{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-button-down .btn{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 16px;
}
.banner-button-down .btn:hover{
    background-color: black;

}

.banner-button-down .button2{
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 16px 16px;
    border: 1px solid white;
    color: #FFFFFF;

}
.banner-button-down .button2:hover{
    background-color: black;
}
#note .note-container{
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.note-card .card-info{
    max-width: 322px;
    padding: 24px;
    box-shadow: 0 6px 50px 0 #00000031;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#solution{
    max-width: 1600px;
}
#solution .solution-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
    max-width: 1360px;
    vertical-align: middle;
    margin: 120px 120px 120px 120px;
    width: 90%;
    gap: 60px;

}

#solution .solution-image{
    max-width: 600px;
    vertical-align: middle;
    height: 600px;
}
#solution .solution-content{
    max-width: 700px;
    text-align: left;


}
#solution .solution-content h4{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}
#solution .solution-content h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;

}
#solution .solution-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
#solution .solution-features h5{
    color: #001931;
    font-weight: 16px;
    line-height: 20px;
    font-weight: 500;
    align-items: center;
    display: flex;
    gap: 6px;
    margin-bottom: 16px;

}
#challenge{
    max-width: 1600px;
}
#challenge .challenge-container{
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2px 120px 120px 120px;
    background-color: #F7F6F2;

}
.challenge-container .challenge-heading h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding-top: 80px;
    margin-bottom: 16px;

}
.challenge-container .challenge-heading p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.challenge-container .challenge-button{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.challenge-container .challenge-caption p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 80px;
}
#footer{
    max-width: 1600px;
    background-color: #001931;
    padding: 60px 0 40px 0;
}
#footer .footer-container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 84px;
}
.footer-top .footer-logo img{
    height: 60px;
    width: 139px;

}
.footer-top .social p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
.footer-top .social-icons{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-right: 120px;
}
.footer-top .social-icons a{
    background-color: #FFFFFF;
    color: #001931;
    border-radius: 50%;
    display: flex;
    width: 20px;
    height: 20px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#footer .footer-divider{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0 0 30px 0;

}
.footer-bottom{
    text-align: center;
}

.footer-bottom .metadata{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;

    
}